@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.header,
.footer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px;
}

.left-links,
.right-links {
  display: flex;
  list-style: none;
  gap: 16px;
}

.left-links {
  margin: 0 auto 0 16px;
}

.right-links {
  margin: 0 16px 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

img {
  width: 600px;
}

.buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
  width: 100%;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.link {
  text-decoration: none;
  color: #818589;
  font-weight: 500;
  transition: opacity 0.5s ease-in-out;
}

.link:hover {
  opacity: 0.5;
}

.footer{
  background-color: #eeeeee;
}

