.one,
.three,
.five {
    background-color: rgb(255, 0, 191);
    font-family: 'Verdana', 'DejaVu', sans-serif;
}

#second {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.three.size {
    font-size: 24px;
}

#fourth {
    background-color: rgb(0, 255, 76);
    font-size: 24px;
    font-weight: bold;
}