body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;

}

.header {
  background: darkmagenta;
  color: white;
  padding: 0 16px;
  font-size: 32px;
  font-weight: 900;
}

.footer {
  background: #eee;
  color: darkmagenta;
  justify-content: center;
}

.main {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 16px;
  flex-shrink: 0;
}

.sidebar__links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar__link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.cards {
  flex: 1;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}