.click,
.no-click {
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
}

.click {
    background-color: #000;
    color: #FFF;
}

.no-click {
    background-color: #FFFF00;
}